h1 {
  margin: 0px;
  padding: 10px;
  background-color: #ccc;
}

.index1 {
  position: relative;
  background: yellow;
  top: 20px;
  z-index: 1;
}

.index2 {
  position: absolute;
  background-color: lightcoral;
  top: 60px;
  z-index: -1;
}

.index3 {
  position: relative;
  z-index: 99999;
}